Source: libfslcodec
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, pkg-config
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_libfslcodec.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_libfslcodec

Package: libfslcodec-dev
Section: libdevel
Architecture: any
Depends: libfslcodec (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libfslcodec
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
