Source: libfslcodec
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends:
 debhelper (>= 8.0.0),
 autotools-dev,
 pkg-config,
 libvpu-imx6-dev,
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_libfslcodec.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_libfslcodec

Package: libfslcodec-dev
Section: libdevel
Architecture: armhf armel
Depends: libfslcodec (= ${binary:Version}), ${misc:Depends}
Description: Development files for libfslcodec
 Provides development libraries and headers for using libfslcodec.

Package: libfslcodec-doc
Section: doc
Architecture: armhf
Depends:
 libfslcodec (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends},
Description: Documentation for libfslcodec
 Provides documentation and sample code for libfslcodec.

Package: libfslcodec
Section: libs
Architecture: armhf armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Freescale accelerated Codecs
 Provides accelerated libraries to handle multimedia codecs supported by i.MX6.
