#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# hack: will only work on OBS-created chroots
SOURCESDIRS=~ /usr/src/packages/SOURCES/

NAME=imx-codec-4.2.1
MD5=3db67e3f602e65fe0ac00ae4f9ea6109

# generate configure flags
CONFFLAGS=--enable-vpu
# armhf or armel?
ifeq (armhf,$(DEB_HOST_ARCH))
  CONFFLAGS += --enable-fhw
endif

%:
	dh $@ --sourcedirectory=$(NAME)

build:
	find $(SOURCESDIRS) -maxdepth 1 -iname "$(NAME).bin" -exec cp -v {} ./ \; || true
	./fetch.sh $(NAME).bin $(MD5)
	chmod +x $(NAME).bin
	./$(NAME).bin --auto-accept --force
	dh $@ --sourcedirectory=$(NAME)

	# additional config file
	cat ld.so.conf.in | sed -e "s;@PREFIX@;/usr;g" > libfslcodec.conf

clean:
	rm -f *.conf
	rm -rf $(NAME) $(NAME).bin
	dh $@

override_dh_auto_configure:
	cd $(NAME); NOCONFIGURE=1 ./autogen.sh; cd ..
	dh_auto_configure -- $(CONFFLAGS)

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/libfslcodec/usr/lib/imx-mm/audio-codec/:$(CURDIR)/debian/libfslcodec/usr/lib/imx-mm/audio-codec/wrap/:$(CURDIR)/debian/libfslcodec/usr/lib/imx-mm/video-codec/
